<a href="https://colab.research.google.com/github/rifat3790/Python/blob/main/Week_2_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n = int(input("Enter the number of movies: "))
favorite_movies = []

print("Enter your favorite movies: ")
for i in range(n):
    movie = input(f"Enter movie-{i+1}: ")
    favorite_movies.append(movie)

print(f"Second list of favorite movie: ", favorite_movies[1])

new_movie = input("Enter add new movie: ")

favorite_movies.append(new_movie)
print(f"All movies are: ",favorite_movies)

favorite_movies.pop(0)
print(f"Update list of favorite movies: ",favorite_movies)

Enter the number of movies: 5
Enter your favorite movies:
Enter movie-1: KGF
Enter movie-2: Puspa
Enter movie-3: KGF2
Enter movie-4: Dune
Enter movie-5: Inception
Second list of favorite movie:  Puspa
Enter add new movie: Puspa2
All movies are:  ['KGF', 'Puspa', 'KGF2', 'Dune', 'Inception', 'Puspa2']
Update list of favorite movies:  ['Puspa', 'KGF2', 'Dune', 'Inception', 'Puspa2']

In [2]:
book_info = {
    "title": "Algorithms",
    "author": "David Copperfield",
    "year": 1974,
    "genre": "Computer Science"
}

print(f"Book title: {book_info['title']}")

import datetime
current_year = datetime.datetime.now().year
book_info['year'] = current_year

print(f"Update Book year: {book_info['year']}")

Book title: Algorithms
Update Book year: 2024

In [3]:
tupl = ("Rifat", 22, 3.2)

string_val, int_val, float_val = tupl

print(f"String value: {string_val}\nInteger value: {int_val}\nFloat value: {float_val}")

String value: Rifat
Integer value: 22
Float value: 3.2

In [4]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8, 9}

symmetric_difference = set()

for n in a:
    if n not in b:
        symmetric_difference.add(n)

for n in b:
    if n not in a:
        symmetric_difference.add(n)

print("Symmetric difference: ", symmetric_difference)

Symmetric difference:  {1, 2, 3, 6, 7, 8, 9}

In [5]:
a = {1, 2, 3, 4, 5}
b ={4, 5, 6, 7, 8}

union = a | b
intersection = a & b
print(union)
print(intersection)

symmetric = union - intersection

print("Symmetric difference", symmetric)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
Symmetric difference {1, 2, 3, 6, 7, 8}

In [6]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")

print(f"Hello {first_name} {last_name}! Welcome to python programming.")

Enter your first name: Rifat
Enter your last name: Hossen
Hello Rifat Hossen! Welcome to python programming.