<a href="https://colab.research.google.com/github/rifat3790/Python/blob/main/week3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input("Enter your name: ")

upper = name.upper()
print(f"Name: {upper}")

Enter your name: rifat
Name: RIFAT

In [1]:
age = int(input("Enter your age: "))
seconds = age * 365 * 24 * 60 * 60
print(f"Age to seconds: {seconds}")

Enter your age: 22
Age to seconds: 693792000

In [2]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

num1 += 1
num2 += 1
num3 += 1

print(f"First number: {num1}\nSecond number: {num2}\nThird number: {num3}")

Enter first number: 1
Enter second number: 2
Enter third number: 3
First number: 2
Second number: 3
Third number: 4

In [3]:
import math
num = int(input("Enter your number: "))
squ = num * num

root = math.sqrt(squ)

print(f"Squre result: {squ}\nRoot over: {root}")

Enter your number: 7
Squre result: 49
Root over: 7.0

In [4]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

multi = num1 * num3
add = multi + num2
print(f"Multiply: {multi}\nAdd: {add}")

Enter first number: 2
Enter second number: 3
Enter third number: 4
Multiply: 8
Add: 11

In [5]:
n = int(input("Enter the range: "))

for i in range(n, 0, -1):
    if i%2 == 1:
        print(i)

Enter the range: 10
9
7
5
3
1

In [9]:
n = int(input("Enter the range: "))

for i in range(n, 0, -1):
    if i % 2 == 0:
        print(i)

Enter the range: 10
10
8
6
4
2

In [10]:
st = int(input("Enter the starting number: "))
en = int(input("Enter the ending number: "))
sum = 0
for i in range(st, en):
    sum = i + sum
print(sum)

Enter the starting number: 1
Enter the ending number: 15
105

In [11]:
num = int(input("Enter the number: "))
i=1
print("Divisor number: ")
while(i<=num):
    if num % i == 0:
        print(i)
    i+=1

Enter the number: 20
Divisor number:
1
2
4
5
10
20

In [12]:
num1 = int(input("Enter the starting number: "))
num2 = int(input("Enter the ending number: "))

while range(num1, num2):
    if num1 < num2:
        print(num2)
    num1 += 1

Enter the starting number: 10
Enter the ending number: 20
20
20
20
20
20
20
20
20
20
20

In [13]:
st = int(input("Enter starting number: "))
en = int(input("Enter ending number: "))

even = 0
odd = 0
for i in range(st, en):
    if i % 2 == 1:
        odd += i

for i in range(en, st, -1):
    if i % 2 == 0:
        even += i

print(f"Sum even and odd: {even + odd}")

Enter starting number: 10
Enter ending number: 20
Sum even and odd: 155